.jumbotron{
       position: relative;
       padding:0 ;
       margin-top:70p;
       background: black;
       font-color white;
       margin-top: 50px;
       margin-bottom: 0 ;
}
.navbar {
	 background: black;
}
.btn
{
	background-color: black;
	font: white;	
}

.card{
  margin: 5px;
}
.card{
  flex: 1;
  width: 250px;
}
.container{

  flex:1
  width:150px;
}

footer{
 margin: 15px;
 padding: 20px;
 background-color: black;

}