@lila: #cc33ff;
$amarillo: #ffffcc;
$verde: #e6ffe6;


}

.jumbotron{
       position: relative;
       padding:0 ;
       background: @lila;
       font-color: @amarillo;
       
}
.navbar {
	 background: @lila;
}
.btn
{
	background-color: @lila;
	font: @amarillo;	
}

.card{
 
  flex: 1;

}
.container{
  flex:1;
  }

footer{
 margin: 15px;
 padding: 20px;
 background-color: @lila;

}