.jumbotron {
  position: relative;
  padding: 0;
  background: #FF0000;
  font-color: #ffffcc;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: sans-serif; }

.navbar {
  background: #FF0000; }

.btn {
  background-color: #FF0000;
  font: #ffffcc; }

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  flex: 1; }

.container {
  flex: 1; }

footer {
  margin: 15px;
  padding: 20px;
  background-color: #FF0000;
  font: #e6ffe6; }
