$lila: #FF0000;
$amarillo: #ffffcc;
$verde: #e6ffe6;

@mixin margenes($top, $bottom, $fonty){
  margin-top: $top; 
  margin-bottom: $bottom;
  font-family: $fonty;
}

.jumbotron{
       position: relative;
       padding:0 ;
       background: $lila;
       font-color: $amarillo;
       @include margenes (50px, 0px , sans-serif);
}
.navbar {
	 background: $lila;
}
.btn
{
	background-color: $lila;
	font: $amarillo;	
}

.card{
  @include margenes (10px,10px, sans-serif)
  flex: 1;

}
.container{
  flex:1;
  }

footer{
 margin: 15px;
 padding: 20px;
 background-color: $lila;
 font: #e6ffe6;

}
